body {
    margin: 0;
    min-height: 100vh;

    font-size: 18px;

    background-color: #f1fbcd;
//    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

form > p > input[type="text"],
form > p > input[type="password"],
form > p > input[type="email"]
{
    min-height: 24px;
    border-radius: 4px;
    font-size: 16px;
}

.errorlist {
    color: red;
}

.form{
    min-width: 520px;

    background: #d3e9ea80;
    border-radius: 8px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input-group--submit{
    justify-content: center;
}

.form__submit{
    min-width: 128px;
    min-height: 32px;
    border-radius: 4px;
    font-size: 18px;

    background-color: #3D5A80;
    color: #E0FBFC;
    border: none;
}

.main{
    padding: 16px;
    max-width: 80vh;

    margin: 0 auto;
}

.message__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message__header{
    display: flex;
    justify-content: center;
}

.message__link{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.navigation__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navigation__item{
    text-decoration: none;
}

.navigation__link{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.site-header{
    padding: 16px;
    background-color: #cdf9fb;
}