<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/test">Test</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <header>
                {% block header %}
                {% endblock %}
            </header>

            {% block content %}
            {% endblock %}
        </section>
    </main>

</body>
</html>