<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}">
</head>
<body>

    <header class="site-header">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/" class="navigation__link">Index</a></li>
                {% if user.is_authenticated %}
                <li class="navigation__item"><a href="/logout" class="navigation__link">Logout</a></li>
                {% else %}
                <li class="navigation__item"><a href="/register" class="navigation__link">Register</a></li>
                <li class="navigation__item"><a href="/login" class="navigation__link">Login</a></li>
                {% endif %}
                <li class="navigation__item"><a href="/test" class="navigation__link">Test</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="message">
            <header class="message__header">
                {% block header %}
                {% endblock %}
            </header>
            <div class="message__content">
            {% block content %}
            {% endblock %}
            </div>
        </section>
    </main>

</body>
</html>