{% extends 'authentication/basic.html' %}
{% block title %} Index {% endblock %}

{% block header %}
<h1>
    Welcome to the index page! 😊
</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>
        Hello user! You're name is... {{ user.username }}
        <a href="{% url 'authentication:logout' %}">Click here</a> to logout!
        </p>
    {% endif %}
    <p>
        <a href="{% url 'authentication:login' %}"> Log in </a>, or
        <a href="{% url 'authentication:register' %}"> register </a>if you don't have an account.
    </p>
{% endblock %}