{% extends 'authentication/basic.html' %}
{% block title %} Index {% endblock %}

{% block header %}
<h1>
    Welcome to the index page! 😊
</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>
        Hello <b>{{ user.username }}</b>!
        </p>
    {% else %}
        <p>
            <a href="{% url 'authentication:login' %}"> Log in </a>, or
            <a href="{% url 'authentication:register' %}"> register </a>if you don't have an account.
        </p>
    {% endif %}
        <p>
            Some site content, available for all users.
        </p>
{% endblock %}